.container {
  margin: 60px 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  flex-basis: 100%;
}

.column-sixth {
  flex-basis: 50%;
}

.column-fourth {
  flex-basis: 50%;
}

@media screen and (min-width: 768px) {
  .column-full,
  .column-sixth,
  .column-fourth {
    padding: 0 0.75rem;
  }

  .column-fourth {
    flex-basis: 25%;
  }

  .column-sixth {
    flex-basis: calc(100% / 6);
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
